<section data-ng-controller="InputController">
    <div class="wrapper wrapper-content">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Input Interface</h5>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal">
                      <div class="form-group">
                          <label class="col-sm-2 control-label">Course Num</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseNum" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Section</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseSection" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Name</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseName" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Full Name</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseFullName" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Desc</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseDesc" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Room</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseRoom" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Capa</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseCapa" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Capa Enrolled</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseCapaEnrolled" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Wait</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseWait" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">Course Wait Enrolled</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseWaitEnrolled" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">CourseTime</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseTime" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">CourseInst1</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseInst1" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">CourseInst2</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseInst2" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">CourseUnit</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseUnit" class="form-control">
                          </div>
                          <label class="col-sm-2 control-label">CourseStatus</label>
                          <div class="col-sm-10">
                              <input type="text" id="CourseStatus" class="form-control">
                          </div>
                          <br />
                          <button ng-click="search()" class="btn btn-primary col-sm-10 col-sm-offset-1" type="submit">Submit!</button>

                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
