<nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
              <i class="fa fa-reorder"></i>
          </button>
          <a href="#" class="navbar-brand">PSU CLASS</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> About Author<span class="caret"></span></a>
                  <ul role="menu" class="dropdown-menu">
                      <li><a href="">就</a></li>
                      <li><a href="">是</a></li>
                      <li><a href="">不</a></li>
                      <li><a href="">说</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-top-links navbar-right">
              <li>
                  <a href="https://www.lionpath.psu.edu/psc/CSPRD/EMPLOYEE/HRMS/c/SA_LEARNER_SERVICES.SSR_SSENRL_CART.GBL?Page=SSR_SSENRL_CART&Action=A&ExactKeys=Y&TargetFrameName=None">
                      <i class="fa fa-sign-out"></i> Go to lion path
                  </a>
              </li>
          </ul>
      </div>
  </nav>
